
  <% for (let i = 0; i < cardBox.length; i++) {
      const item = cardBox[i];
      const linkUrl = item.linkUrl ? item.linkUrl : null;
      const isLink = !!linkUrl;
  %>
    <div class="swiper-slide">
    <!-- card -->
    <% if (isLink) { %>
      <a class="card-box is-link" href="<%- linkUrl %>" target="_blank" data-category="<%- item.category %>">
    <% } else { %>
      <div class="card-box" data-category="<%- item.category %>">
    <% } %>

        <div class="card-img">
          <%- include('../atoms/image.ejs', {
            imageSrc: item.imageSrc,
            altText: item.altText,
            mobileSrc: item.mobileSrc,
            loadingLazy: true
          }) %>
        </div>

        <div class="card-desc">
          <h4 class="text"><%- item.title %></h4>
          <div class="info">
            <span><%- item.period %></span>
            <ul class="dot-list">
              <% for (let j = 0; j < item.descriptions.length; j++) { %>
                <li><%- item.descriptions[j] %></li>
              <% } %>
            </ul>
          </div>
        </div>

    <% if (isLink) { %>
      </a>
    <% } else { %>
      </div>
    <% } %>
    <!-- // card -->
    </div>
  <% } %>
