<div class="card-list">
  <% for (let i = 0; i < cardBox.length; i++) {
      const item = cardBox[i];
      const linkUrl = item.linkUrl ? item.linkUrl : null;
      const isLink = !!linkUrl;
  %>

    <!-- card -->
    <% if (isLink) { %>
      <a class="card-box is-link" href="<%- linkUrl %>" target="_blank">
    <% } else { %>
      <div class="card-box">
    <% } %>

        <div class="card-img">
          <%- include('../atoms/image.ejs', {
            imageSrc: item.imageSrc,
            altText: item.altText,
            mobileSrc: item.mobileSrc
          }) %>
        </div>

        <div class="card-desc">
          <h4 class="h3"><%- item.title %></h4>
          <div class="info">
            <span class="body2"><%- item.period %></span>
            <ul class="list-dot">
              <% for (let j = 0; j < item.descriptions.length; j++) { %>
                <li><%- item.descriptions[j] %></li>
              <% } %>
            </ul>
          </div>
        </div>

    <% if (isLink) { %>
      </a>
    <% } else { %>
      </div>
    <% } %>
    <!-- // card -->

  <% } %>
</div>
